<html>
    <head>
        <title>hog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    </head>
    <body method="POST">
        <script>
            $("change_password").validate({
                rules: {
                    
                    new_password: {
                        required: true,
                        minlength: 5
                    },
                    confirm_password: {
                        required: true,
                        minlength: 5,
                        equalTo: "#new_password"
                    },
                },
            
                messages: {
                   
                     new_password: {
                        required: " Please enter a password",
                        minlength: " Your password must be consist of at least 5 characters"
                    },
                    confirm_password: {
                        required: " Please enter a password",
                        minlength: " Your password must be consist of at least 5 characters",
                        equalTo: " Please enter the same password as above"
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.form-group'));
                    }
                    else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
			}
            });
        </script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type='text/javascript'></script>
<div id="email_div" style="display: block;" >
    
    <center> <h1>forgot password</h1>
    <label for="email">Email</label><br>
    <input type="text" name="email" id="email"><br><br>
    <button  onclick="ajax_send_otp()">Send OTP</button></center>
</div>
<div>
    <div class="form-group">
        {% for message in messages %}
        <div class="alert alert-danger" role="danger">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>
<div id="verify_text_div"></div>
<div id="otp_div" style="display: none;" >

    <label for="email">OTP</label>
    <input type="text" name="otp" id="otp" maxlength="4">
    <button  onclick="verify_otp()">Verify</button>
</div>
<br>
<div id="reset_password" style="display: none;" >
   <center> 
    <a href="{% url 'reset_password' %}"class="btn btn-primary" login><i class="fa fa-download">change password</i></a> <br>

        </div>
<script>
    var otp_from_back="";
    function ajax_send_otp(){
       document.getElementById("email_div").style.display='none';
       email = document.getElementById("email");
     $.post("/send_otp",
         {
             "email":email.value,
             "csrfmiddlewaretoken":"{{csrf_token}}"
         },
         function(data, status){
             if(status=="success"){
                 otp_from_back = data;
                 document.getElementById("otp_div").style.display='block';
                 }
    }
    );
    }
   function verify_otp(){
       var user_otp=document.getElementById("otp").value;
       if (user_otp==otp_from_back){
           document.getElementById("verify_text_div").style.color="green";            
           document.getElementById("verify_text_div").innerHTML="OTP Verified";
           document.getElementById("otp_div").style.display="none";
           document.getElementById("reset_password").style.display="block";
       }
       else{
           document.getElementById("verify_text_div").style.color="red";
           document.getElementById("verify_text_div").innerHTML="OTP is Wrong !!";
       }
   } 
</script>

</body>
<html>